/* Media Queries  */

@media (max-width: 1024px) {
    .col-md-2{
        width: 40% !important;
        margin-left: 6% !important;
    }
}


@media (max-width: 1000px) {
    .col-md-2{
        width: 60% !important;
        margin-left: 19% !important;
    }
}

@media (max-width: 500px) {
    .col-md-2{
        margin-left: 19% !important;
    }
}